@font-face {
  font-family: DNLP;
  src: url(../../fonts/Verlag-Font/Verlag-XLight.otf) format("opentype"), url(../../fonts/Verlag-Font/Verlag-XLight.ttf) format("truetype"), url(../../fonts/Verlag-Font/Verlag-XLight.woff) format("woff"), url(../../fonts/Verlag-Font/Verlag-XLight.woff2) format("woff2");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: DNLP;
  src: url(../../fonts/Verlag-Font/Verlag-Light.otf) format("opentype"), url(../../fonts/Verlag-Font/Verlag-Light.ttf) format("truetype"), url(../../fonts/Verlag-Font/Verlag-Light.woff) format("woff"), url(../../fonts/Verlag-Font/Verlag-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: DNLP;
  src: url(../../fonts/Verlag-Font/Verlag-Book.otf) format("opentype"), url(../../fonts/Verlag-Font/Verlag-Book.ttf) format("truetype"), url(../../fonts/Verlag-Font/Verlag-Book.woff) format("woff"), url(../../fonts/Verlag-Font/Verlag-Book.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: DNLP;
  src: url(../../fonts/Verlag-Font/Verlag-Bold.otf) format("opentype"), url(../../fonts/Verlag-Font/Verlag-Bold.ttf) format("truetype"), url(../../fonts/Verlag-Font/Verlag-Bold.woff) format("woff"), url(../../fonts/Verlag-Font/Verlag-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
}

label {
  font-size: 1.4rem;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: DNLP !important;
  font-weight: 500;
  color: #333333;
  font-size: 1.4rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: DNLP;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

/* grid */
.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

[class*="col-"],
.container,
.full-container {
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.mt-1 {
  margin-top: 1.6rem;
}

/* simplebar scroll*/
.simplebar-track {
  background-color: #d1d3d4;
  width: 2px !important;
  border-radius: 7px;
}

.simplebar-track .simplebar-scrollbar {
  background-color: #840c6f;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.simplebar-track .simplebar-scrollbar::before {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #840c6f inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.cm-phone {
  max-width: 300px;
  height: 42px;
  position: fixed;
  right: 0;
  bottom: 40px;
  cursor: pointer;
  background-color: #840c6f;
  z-index: 3;
  cursor: pointer;
  display: block;
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cm-phone::before {
  content: "\64";
  font-family: "birla-estates" !important;
  font-size: 20px;
  color: #e5b479;
}

.cm-phone:hover {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.cm-phone span {
  color: #e5b479;
  display: inline-block;
  padding-left: 1rem;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-group .button {
  all: unset;
  position: relative;
  border: none;
  padding-bottom: 5px;
  cursor: pointer;
  color: #dbb467;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  background-color: transparent;
}

.button-group .button::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background: #dbb467;
  bottom: 0;
  left: 0;
  opacity: 0.62;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-group .button:hover::after {
  width: 100%;
  opacity: 1;
}

.login-slider {
  margin: 0 !important;
}

.login-slider .slick-dots {
  position: absolute;
  bottom: 13vh;
  left: 10%;
  width: 500px;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .login-slider .slick-dots {
    bottom: 21vh;
  }
}

@media only screen and (max-width: 900px) {
  .login-slider .slick-dots {
    bottom: unset;
    top: 65vh;
    width: 300px;
    left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .login-slider .slick-dots {
    max-width: 250px;
    top: unset;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 460px) {
  .login-slider .slick-dots {
    max-width: 250px;
    top: unset;
    bottom: 10%;
    text-align: center;
  }
}

.login-slider .slick-dots li {
  width: 30px;
  height: 1px;
}

.login-slider .slick-dots li button {
  height: 1px;
  width: 100%;
  padding: 0;
}

.login-slider .slick-dots li button::before {
  content: "";
  background: #7c7c7c;
  width: 30px;
  height: 1px;
}

.login-slider .slick-dots li.slick-active {
  margin: 0 1rem;
}

.login-slider .slick-dots li.slick-active button::before {
  width: 100%;
  height: 1px;
  background: #fff;
}

.login-slider .slider-image {
  position: relative;
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  .login-slider .slider-image {
    height: auto;
  }
}

.login-slider .slider-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

.login-slider .slider-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.login-slider--caption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 5%;
  left: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .login-slider--caption {
    bottom: unset;
    top: 40%;
    left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .login-slider--caption {
    bottom: unset;
    top: 40%;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
  }
}

.login-slider--caption .project-title {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.slick-active .login-slider--caption .project-title {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.login-slider--caption h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20vh;
}

@media only screen and (max-width: 1200px) {
  .login-slider--caption h2 {
    margin-bottom: 40vh !important;
  }
}

@media only screen and (max-width: 900px) {
  .login-slider--caption h2 {
    margin-bottom: 0 !important;
  }
}

.login-slider--caption h2 .main {
  font-size: 4.8rem;
  font-weight: 700;
}

.login-slider--caption h2 .main:last-child {
  margin-top: 2rem;
  font-size: 3rem;
  max-width: 550px;
  font-weight: 100;
}

@media only screen and (max-width: 1200px) {
  .login-slider--caption h2 .main:last-child {
    font-size: 2.8rem;
    max-width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .login-slider--caption h2 .main:last-child {
    font-size: 2.3rem;
    max-width: 350px;
  }
}

@media only screen and (max-width: 460px) {
  .login-slider--caption h2 .main:last-child {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .login-slider--caption h2 .main {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .login-slider--caption h2 .main {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 460px) {
  .login-slider--caption h2 .main {
    font-size: 3rem;
  }
}

/* Popup Box */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 8888;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10vh auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 90%;
  /* Could be more or less, depending on screen size */
  position: relative;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.modal-content .customBtn {
  background-color: #141e55;
  color: #fff;
  font-weight: 300;
  border: 1px solid #eeeee4;
  border-radius: 5px;
  padding: 5px 20px 7px;
  margin-top: 20px;
}

.modal-content h2 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

@media (min-width: 1366px) {
  .modal-content {
    background-color: #fefefe;
    margin: 10vh auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 11px;
  font-weight: bold;
  background-color: #141e55;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button.button {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #02274a 1px solid;
  padding: 0 0 3px 0;
  font-size: 16px;
}

button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}

header {
  width: calc(100%);
  height: 70px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  -webkit-box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.33);
          box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.33);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

header .headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

header .headerLeft .hamburger {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #141e55;
}

@media only screen and (max-width: 400px) {
  header .headerLeft .hamburger {
    width: 30px;
    height: 30px;
  }
}

header .headerLeft .hamburger i {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}

@media only screen and (max-width: 400px) {
  header .headerLeft .hamburger i {
    font-size: 20px;
  }
}

header .headerMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

header .headerMiddle h1 {
  color: #141e55;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

header .headerMiddle span {
  color: #141e55;
}

@media only screen and (max-width: 600px) {
  header .headerMiddle span {
    display: none;
  }
}

header .headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

header .headerRight p {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

header .headerRight p span {
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  header .headerRight p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
}

@media only screen and (max-width: 400px) {
  header .headerRight p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
}

header .headerRight img {
  border-left: 1px solid #7c7c7c;
  padding-left: 10px;
}

.sidebar {
  width: 260px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  row-gap: 15px;
  -webkit-box-shadow: 1px 1px 2px #00000028;
          box-shadow: 1px 1px 2px #00000028;
  background-color: #141e55;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
  }
}

.sidebar .sidebarClose {
  display: none;
}

@media only screen and (max-width: 767px) {
  .sidebar .sidebarClose {
    display: block;
    position: absolute;
    right: -49px;
    background-color: #141e55;
    padding: 15px;
    z-index: 30;
  }
  .sidebar .sidebarClose img {
    width: 20px;
  }
}

.sidebar.hide {
  width: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  cursor: pointer;
}

.sidebar .logo img {
  max-width: 150px;
  width: 100%;
}

.sidebar .switchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  background-color: #eeeee4;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.sidebar .switchBox a {
  color: #2c2c2c;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar .searchBox input {
  border: none;
  background-color: rgba(0, 23, 157, 0.3);
  color: #fff;
  width: 100%;
  padding: 5px 0 5px 30px;
}

.sidebar .searchBox input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.sidebar .searchBox input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.sidebar .searchBox input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.sidebar .searchBox input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.sidebar .searchBox input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.sidebar .searchBox input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.sidebar .searchBox input:focus {
  outline: none;
}

.sidebar .menu {
  font-size: 14px;
  font-weight: 300;
}

.sidebar .menu .main-menu > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
}

.sidebar .menu > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  text-decoration: none;
  background-color: rgba(0, 23, 157, 0.3);
  color: #fff;
  width: 100%;
  padding: 5px 0 5px 15px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar .menu > li a.show img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar .menu > li a img {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.sidebar .menu .submenu {
  padding-left: 10px;
  display: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar .menu .submenu.show {
  display: block;
}

.sidebar .menu .submenu li a {
  background-color: #141e55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backDrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .backDrop.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body {
  background-color: #eeeee4;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.wrapper .content {
  width: calc(100% - 260px);
}

@media only screen and (max-width: 767px) {
  .wrapper .content {
    width: calc(100%);
  }
}

.wrapper .content.fullWidth {
  width: calc(100%);
}

.wrapper .content main {
  padding: 5px 15px;
}

.wrapper .content main .topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .wrapper .content main .topBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
  }
}

.wrapper .content main .topBox .breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  align-items: center;
}

.wrapper .content main .topBox .breadcrumb ul a {
  color: #141e55;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.wrapper .content main .topBox .breadcrumb ul a img {
  vertical-align: initial;
}

.wrapper .content main .topBox .breadcrumb ul a::after {
  content: "|";
  color: #2c2c2c;
  height: 7px;
  position: absolute;
  right: -6px;
  top: 0;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
}

.wrapper .content main .topBox .breadcrumb ul a.active {
  color: #2c2c2c;
  font-size: 10px;
  font-weight: 500;
}

.wrapper .content main .topBox .breadcrumb ul a.active::after {
  display: none;
}

.wrapper .content main .topBox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media only screen and (max-width: 767px) {
  .wrapper .content main .topBox nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
}

.wrapper .content main .topBox nav ul a {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.wrapper .content main .topBox nav ul a.active::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #2c2c2c;
  bottom: -5px;
  left: 0;
}

.wrapper .content main .headingBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #141e55;
  row-gap: 3px;
  padding: 9px 0;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.wrapper .content main .headingBox p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.wrapper .content main .headingBox p:last-child {
  font-size: 14px;
  font-weight: 300;
}

.wrapper .content main .dashboard-slider {
  margin-top: 10px;
  margin-bottom: 15px;
}

.wrapper .content main .slick-slider .slider-image img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .content main .slick-slider .slick-prev {
  left: 10px;
  z-index: 10;
}

.wrapper .content main .slick-slider .slick-next {
  right: 10px;
  z-index: 10;
}

.wrapper .content main .slick-slider .slick-slide.slick-active.slick-current {
  z-index: 9;
}

.wrapper .content main .slick-slider .slick-dots {
  bottom: 5%;
  width: 100%;
}

.wrapper .content main .slick-slider .slick-dots li {
  width: 10px;
  height: 10px;
}

.wrapper .content main .slick-slider .slick-dots li.slick-active button:before {
  border: 1px solid #141e55;
}

.wrapper .content main .slick-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 100%;
  background: #ccc;
}

.wrapper .content main .slick-slider .slick-dots li button:before {
  content: "";
  width: 100%;
  height: 10px;
  background-color: #141e55;
  border: 1px solid #ccc;
  border-radius: 100%;
}

.wrapper .content main .customBtn {
  background-color: #141e55;
  color: #fff;
  font-weight: 300;
  border: 1px solid #eeeee4;
  border-radius: 5px;
  padding: 5px 20px 7px;
}

.modal-body form .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.modal-body form .form-content .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0;
  width: 100%;
}

.modal-body form .form-content .form-group label {
  color: #141e55;
}

.modal-body form .form-content .form-group sup {
  color: red;
  font-size: 14px;
  vertical-align: sub;
}

.modal-body form .form-content .form-group input,
.modal-body form .form-content .form-group textarea {
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(124, 124, 124, 0.57);
}

.modal-body form .form-content .form-group input:focus,
.modal-body form .form-content .form-group textarea:focus {
  outline: none;
}

.dataBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin-bottom: 30px;
  max-height: 150px;
  overflow-y: auto;
}

.dataBox .cmnDataBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border: 1px solid #707070;
  border-radius: 18px;
  padding: 7px 15px;
  max-width: 200px;
}

.dataBox .cmnDataBox span:last-child {
  margin-left: auto;
  font-size: 10px;
  color: #141e55;
  cursor: pointer;
  line-height: 1.6;
}

.filterBox,
.tableBox {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 20px 20px;
  margin-bottom: 15px;
}

.filterBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filterBox form h2 {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.filterBox form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  width: 25%;
}

@media only screen and (max-width: 767px) {
  .filterBox form .form-group {
    width: 100%;
  }
}

.filterBox form .form-group sup {
  color: red;
}

.filterBox form .form-group label {
  color: #141e55;
}

.filterBox form .form-group select,
.filterBox form .form-group input {
  border: none;
  border-bottom: 1px solid rgba(124, 124, 124, 0.57);
  padding-left: 0;
  padding-bottom: 5px;
}

.filterBox form .form-group select:focus,
.filterBox form .form-group input:focus {
  outline: none;
}

.filterBox form .btn-box {
  margin-top: 10px;
  width: 100%;
}

.filterBox form .btn-box button {
  width: 80px;
  background: none;
  border: none;
}

.tableBox {
  position: relative;
}

.tableBox select.requestInProgressSelect {
  position: absolute;
  top: 37px;
  right: 290px;
  border: none;
  border-bottom: 1px solid rgba(124, 124, 124, 0.57);
  padding-left: 0;
  padding-bottom: 5px;
  z-index: 1;
}

.tableBox select.requestInProgressSelect:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  .tableBox select.requestInProgressSelect {
    position: unset;
    top: unset;
    right: unset;
    width: 100%;
    margin-top: 10px;
  }
}

.tableBox .dataTables_filter {
  max-width: 250px !important;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .tableBox .dataTables_filter {
    max-width: 100% !important;
  }
}

.tableBox .dataTables_filter label {
  max-width: 100% !important;
  width: 100%;
}

.tableBox .dataTables_filter input {
  border: none;
  border-bottom: 1px solid rgba(124, 124, 124, 0.57);
  border-radius: 0;
  padding-left: 0;
  width: 100%;
}

.tableBox .dataTables_filter input:focus {
  outline: none;
}

.tableBox h2 {
  font-size: 16px;
  font-weight: 700;
  color: #2c2c2c;
}

.tableBox table {
  color: #333333;
  white-space: nowrap;
}

.tableBox table .view {
  color: #141e55;
  text-decoration: underline;
  cursor: pointer;
}

.tableBox table .completeBtn {
  background-color: #00a70b;
  border-radius: 3px;
  width: auto;
  height: 24px;
  padding: 5px 15px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.tableBox table .rejectBtn {
  background-color: #ff0000;
  border-radius: 3px;
  width: auto;
  height: 24px;
  padding: 3px 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.tableBox .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}

.tableBox table th {
  color: #141e55;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  padding: 10px !important;
  border-bottom: 1px solid rgba(129, 142, 148, 0.15) !important;
}

.tableBox table .checkbox label::before {
  border: 1px solid #141e55;
  outline: none;
}

.tableBox table .checkbox input:focus + label::before {
  outline: none !important;
}

.tableBox table .checkbox label::after {
  color: #141e55;
}

.tableBox #example thead th,
.tableBox #requestList thead th,
.tableBox #uploadUserList thead th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none !important;
}

.tableBox table tbody tr:hover {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #fbfbfb;
  padding: 18px 0;
}

.tableBox table td {
  padding: 5px 10px !important;
  vertical-align: middle !important;
  font-size: 14px;
  font-weight: 500;
}

.tableBox table td input {
  margin: 0 !important;
}

.tableBox table tr.selected {
  background-color: transparent !important;
  color: #333 !important;
}

.tableBox .dataTables_scroll {
  width: 100%;
}

.tableBox #example_wrapper .top {
  display: none;
}

.tableBox #example_wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-size: 12px;
  width: 100%;
}

@media (max-width: 768px) {
  .tableBox #example_wrapper .bottom,
  .tableBox #uploadUserList_wrapper .bottom,
  .tableBox #requestList_wrapper .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tableBox .dataTables_info {
    margin: 0 !important;
  }
}

@media (max-width: 440px) {
  .tableBox .top {
    height: 100px;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
}

.tableBox .dataTables_info {
  margin-left: auto;
  padding: 0 !important;
}

.tableBox #example_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  width: 100%;
}

.tableBox .dataTables_filter label {
  position: relative;
  font-weight: 500 !important;
  max-width: 320px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tableBox .top .dataTables_filter label input.form-control {
  border: none;
  margin-left: 15px !important;
  max-width: 320px !important;
  width: 100% !important;
}

.tableBox .dataTables_filter label::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 2px;
  background: url(./images/searchIcon.svg) no-repeat;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.tableBox table td p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 0 !important;
}

.tableBox table td p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.tableBox #example_paginate a {
  border: none !important;
}

.tableBox #example_paginate a:hover {
  background-color: white;
}

.tableBox #example_paginate a i {
  font-size: 8px !important;
}

.tableBox .edit-icon,
.tableBox .table-user-icon {
  background-color: #7c7c7c;
  cursor: pointer;
}

.tableBox .delete-icon {
  background-color: #141e55;
  cursor: pointer;
}

.tableBox .image-icon {
  background-color: #d48800;
  cursor: pointer;
}

.tableBox .dataTables_length select {
  padding: 0 !important;
  width: 50px !important;
  height: 20px;
  margin-left: 10px;
}

.tableBox table.dataTable tbody td.select-checkbox:before,
.tableBox table.dataTable tbody td.select-checkbox:after,
.tableBox table.dataTable tbody th.select-checkbox:before,
.tableBox table.dataTable tbody th.select-checkbox:after {
  top: unset;
}

.selectUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0;
  max-height: 300px;
  overflow: auto;
}

.selectUser label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(129, 142, 148, 0.15);
}

.selectUser label:last-child {
  border-bottom: none;
}

.selectUser label:hover {
  background: #f7f8ff;
}

.imageUpload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0;
  max-height: 200px;
  overflow: auto;
}

.uppy-Dashboard-inner {
  min-height: unset;
  height: 200px !important;
}

.requestList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#view .modal-content {
  width: 40%;
}

#view .modal-content h3 {
  color: #141e55;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

#view .modal-content .dataBox .cmnDataBox span {
  color: #2c2c2c;
  margin-left: unset;
  font-size: 14px;
  line-height: unset;
}

#view .modal-content .cmnDataBox {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  min-width: 150px;
}

.dataTables_wrapper .dataTables_paginate .pagination .paginate_button a {
  color: #333 !important;
}

.dataTables_wrapper .dataTables_paginate .pagination .paginate_button:hover {
  background: none;
}

#uploadUserList_wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

#uploadUserList_wrapper .top .dt-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#uploadUserList_wrapper .top .dt-buttons button {
  margin: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #141e55;
  border-radius: 5px;
  color: #fff;
}

#uploadUserList_wrapper .top .dt-buttons .buttons-excel {
  background-color: #7c7c7c;
}

#uploadUserList_filter label input {
  border-bottom: 1px solid rgba(124, 124, 124, 0.57);
}

#uploadUserList_wrapper .bottom,
#requestList_wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  font-size: 12px;
  width: 100%;
}

#uploadUserList_wrapper .dataTables_info,
#requestList_wrapper .dataTables_info {
  margin-left: auto;
  padding: 0 !important;
}

.progress {
  color: #141e55;
}

.complete {
  color: #008909;
}

.reject {
  color: red;
}

.requestDataBoxCover {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
  padding: 5px;
}

.requestDataBoxCover i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background-color: #ccc;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.requestDataBoxCover .requestDataBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.requestDataBoxCover .requestDataBox.hide {
  display: none;
}

@media only screen and (max-width: 767px) {
  .requestDataBoxCover .requestDataBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}

.requestDataBoxCover .requestDataBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  border: 1px solid #eeeee4;
  border-radius: 5px;
  width: 100%;
  padding: 13px 19px;
}

.requestDataBoxCover .requestDataBox a > span {
  font-size: 18px;
}

.requestDataBoxCover .requestDataBox a .bottomBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.requestDataBoxCover .requestDataBox a .bottomBox span {
  font-size: 43px;
  font-weight: 700;
  color: #2c2c2c;
}

#uploadImages form {
  margin-top: 30px;
  background-color: #eeeee4;
  border-radius: 5px;
  padding: 20px 10px;
}

#uploadImages form h2 {
  font-size: 22px;
  font-weight: 700;
}

#uploadImages input[type="file"] {
  border: 1px solid #eeeee4;
  background-color: #fff;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#uploadImages input[type="file"]:focus {
  outline: none;
}

#uploadImages .uploadedFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  max-height: 200px;
  overflow: auto;
}

#uploadImages .uploadedFile .fileCmnBox {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #eeeee4;
  border-radius: 18px;
  padding: 5px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#uploadImages .uploadedFile .fileCmnBox span:last-child {
  color: #141e55;
  cursor: pointer;
}

.clientListBox {
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  max-height: 385px;
  overflow: auto;
}

.clientListBox .simplebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px !important;
}

.clientListBox .simplebar-content::before {
  display: none !important;
}

.clientListBox .simplebar-content .clientCmnBox {
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  max-width: 32.6%;
}

@media only screen and (max-width: 1250px) {
  .clientListBox .simplebar-content .clientCmnBox {
    max-width: 49%;
  }
}

@media only screen and (max-width: 900px) {
  .clientListBox .simplebar-content .clientCmnBox {
    max-width: 48%;
  }
}

@media only screen and (max-width: 767px) {
  .clientListBox .simplebar-content .clientCmnBox {
    max-width: 48%;
  }
}

@media only screen and (max-width: 500px) {
  .clientListBox .simplebar-content .clientCmnBox {
    max-width: 100%;
  }
}

.clientListBox .simplebar-content .clientCmnBox img {
  max-width: 100%;
  width: auto;
  opacity: 1;
  display: block;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.clientListBox .simplebar-content .clientCmnBox .hoverLink {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.clientListBox .simplebar-content .clientCmnBox .hoverLink span {
  font-size: 18px;
  color: #fff;
}

.clientListBox .simplebar-content .clientCmnBox:hover .hoverLink {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.clientListBox .simplebar-content .clientCmnBox:hover .hoverLink span {
  font-size: 18px;
  color: #fff;
}

.animatedButtonInner {
  color: #141e55;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0;
  padding: 0;
}

.animatedButtonInner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50% !important;
  border-bottom: 1px solid #fff !important;
  height: 1px;
  -webkit-transition: width 0.3s ease-out 0s;
  transition: width 0.3s ease-out 0s;
  background: none !important;
}

.animatedButtonInner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.63;
  height: 66%;
  border-left: 1px solid #fff !important;
  width: 1px;
  -webkit-transition: height 0.2s ease-out 0.1s;
  transition: height 0.2s ease-out 0.1s;
}

.animatedButtonInner:hover::before {
  height: 0;
  -webkit-transition: height 0.2s ease-out 0.1s;
  transition: height 0.2s ease-out 0.1s;
}

.animatedButtonInner:hover::after {
  width: calc(100% + 3px) !important;
  -webkit-transition: width 0.3s ease-out 0s;
  transition: width 0.3s ease-out 0s;
}

.animatedButtonInner span {
  font-size: 11px !important;
  line-height: 16px;
  letter-spacing: 2px;
  -webkit-transition: -webkit-transform 0.3s ease-out 0s;
  transition: -webkit-transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
  -webkit-transform: translate(0);
          transform: translate(0);
  padding: 10px 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.animatedButtonInner:hover {
  border: none !important;
}

.animatedButtonInner:hover span {
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: -webkit-transform 0.3s ease-out 0s;
  transition: -webkit-transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
}

.simplebar-track .simplebar-scrollbar {
  background: #141e55;
}
/*# sourceMappingURL=dashboard.css.map */