body {
  background-color: #f4f4f4;
}

body nav {
  max-width: 100%;
  padding: 0 1.6rem;
}

.container {
  all: unset;
  width: 80%;
}

.dashboard {
  padding: 90px 16px 16px;
}

.dashboard .dashboard-cover {
  width: 100%;
}

.dashboard .kpi-section {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  -ms-grid-columns: (minmax(288px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.dashboard .kpi-section .common-kpi-box {
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.dashboard .kpi-section .common-kpi-box .kpi-content {
  background: url(../../images/dashboard/kpi-1.svg) no-repeat;
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.6rem 0 0 1.6rem;
  height: 150px;
  position: relative;
}

.dashboard .kpi-section .common-kpi-box .kpi-content h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #840c6f;
}

@media only screen and (max-width: 440px) {
  .dashboard .kpi-section .common-kpi-box .kpi-content h2 {
    font-size: 1.6rem;
  }
}

.dashboard .kpi-section .common-kpi-box .kpi-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4d4d4f;
  font-size: 4.5rem;
  font-weight: 700;
  position: absolute;
  bottom: -22px;
  width: 100%;
}

@media only screen and (max-width: 440px) {
  .dashboard .kpi-section .common-kpi-box .kpi-content p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 440px) {
  .dashboard .kpi-section .common-kpi-box .kpi-content p img {
    width: 30%;
  }
}

.customer-details {
  margin-top: 2rem;
  background-color: #fff;
  padding: 1.6rem;
}

.customer-details h2 {
  color: rgba(77, 77, 79, 0.8);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

@media only screen and (max-width: 440px) {
  .customer-details h2 {
    font-size: 1.6rem;
  }
}

.customer-details .myTable th {
  text-align: left;
  color: #840c6f;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(129, 142, 148, 0.15);
  padding: 1.2rem 2rem;
}

@media only screen and (max-width: 440px) {
  .customer-details .myTable th {
    font-size: 1.2rem;
  }
}

.customer-details .myTable th:first-child {
  padding-left: 0;
}

.customer-details .myTable td {
  border-bottom: 1px solid rgba(129, 142, 148, 0.15);
  padding: 1rem 2rem;
}

@media only screen and (max-width: 440px) {
  .customer-details .myTable td {
    font-size: 1.1rem;
  }
}

.customer-details .myTable tbody tr td:first-child {
  padding-left: 0;
}

.customer-details .myTable tbody tr:hover {
  background-color: #fbfbfb;
}

.customer-details .dataTables_filter {
  position: absolute;
  right: 0px;
  top: -25px;
}

@media only screen and (max-width: 767px) {
  .customer-details .dataTables_filter {
    position: relative;
    top: unset;
  }
}

.customer-details .dataTables_filter input {
  border: none;
  border-bottom: 1px solid rgba(129, 142, 148, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 300px;
}

@media only screen and (max-width: 767px) {
  .customer-details .dataTables_filter input {
    width: 100%;
  }
}

.customer-details .dataTables_filter input:focus {
  outline: none;
  border-bottom: 2px solid #840c6f;
}

.customer-details .dataTables_length {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 360px) {
  .customer-details .dataTables_length {
    display: none;
  }
}

.customer-details .dataTables_scrollBody,
.customer-details table.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: none;
  border: none;
  color: #840c6f !important;
  border-left: 1px solid #840c6f;
  font-weight: 700;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  padding: 0.2rem 0.6rem 0;
  outline: none;
  border: none;
  border-radius: 0;
  border-left: 1px solid #840c6f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: #840c6f !important;
  border: none;
  border-left: 1px solid #840c6f;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background: none;
  margin-left: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: #840c6f !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
  border-left: 1px solid #840c6f;
}

.dataTables_paginate.paging_simple_numbers {
  border: 1px solid #840c6f;
  padding: 0;
  margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
  .dataTables_paginate.paging_simple_numbers {
    float: right;
  }
}

div.scroll {
  overflow: auto;
}

.myTable {
  width: 100% !important;
}

.action-btn-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-btn-cover .cmn-btn {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.action-btn-cover .edit-btn {
  background-color: #840c6f;
  margin-right: 1rem;
}

.action-btn-cover .delete-btn {
  background-color: #e95124;
}

.action-btn-cover .view-btn {
  background-color: #06ce27;
  margin-right: 1rem;
}

.fixed-side-toggle-box {
  position: fixed;
  right: 0;
  top: 35vh;
  cursor: pointer;
}

.fixed-side-toggle-box .toggle-icon {
  background-color: #840c6f;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fixed-side-toggle-box .toggle-icon img {
  -webkit-animation: toggle 2s linear infinite;
          animation: toggle 2s linear infinite;
}

@-webkit-keyframes toggle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}

@keyframes toggle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}

.fixed-side-toggle-box .toggle-icon.show {
  background-color: #e5b479;
}

.fixed-side-toggle-box .toggle-icon.show + div {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fixed-side-toggle-box .toggle-icon.show img {
  -webkit-animation: none;
          animation: none;
}

.fixed-side-toggle-box .toggle-content {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.fixed-side-toggle-box .toggle-content div {
  position: relative;
  background-color: #840c6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.5rem 1rem;
}

.fixed-side-toggle-box .toggle-content div.e-brochure-box {
  padding-top: 1rem;
}

.fixed-side-toggle-box .toggle-content div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-decoration: none;
}

.fixed-side-toggle-box .toggle-content div span {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
}

.fixed-side-toggle-box .toggle-content div p {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  bottom: -29px;
  background-color: #840c6f;
  color: #fff;
  width: 200px;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: initial;
}

.fixed-side-toggle-box .toggle-content div.call-box:hover p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cost-sheet-form {
  background-color: #fff;
  width: 100%;
  padding: 1.6rem;
  min-height: 80vh;
}

.cost-sheet-form h2 {
  color: rgba(77, 77, 79, 0.8);
  font-weight: 500;
  font-size: 2rem;
}

.cost-sheet-form .button-group {
  margin-top: 3rem;
}

.cost-sheet-form .form-content {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  -ms-grid-columns: (minmax(288px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.cost-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
}

.cost-form .button {
  color: #840c6f;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.cost-form .button::after {
  background: #840c6f;
}

.cost-form .form-content {
  width: 100%;
  margin: 0 auto;
}

.cost-form .form-content h2 {
  color: #840c6f;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.cost-form .form-content .form-group {
  margin-bottom: 1.5rem;
}

.cost-form .form-content select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cost-form .form-content input,
.cost-form .form-content select {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.4rem;
  font-family: DNLP;
  font-weight: 300;
}

.cost-form .form-content input option,
.cost-form .form-content select option {
  color: #4d4d4f;
}

.cost-form .form-content input:focus ~ label::after, .cost-form .form-content input.float ~ label::after,
.cost-form .form-content select:focus ~ label::after,
.cost-form .form-content select.float ~ label::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cost-form .form-content input:focus ~ label .content-name, .cost-form .form-content input.float ~ label .content-name,
.cost-form .form-content select:focus ~ label .content-name,
.cost-form .form-content select.float ~ label .content-name {
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  font-size: 1.3rem;
  color: #840c6f;
  font-weight: 500;
}

.cost-form .form-content input:focus ~ i, .cost-form .form-content input.float ~ i,
.cost-form .form-content select:focus ~ i,
.cost-form .form-content select.float ~ i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cost-form .form-content select:not([value='']):valid ~ label::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cost-form .form-content select:not([value='']):valid ~ label .content-name {
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  font-size: 1.3rem;
  color: #840c6f;
  font-weight: 500;
}

.cost-form .form-content select:not([value='']):valid ~ i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cost-form .form-content label {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  font-weight: 100;
  margin-bottom: 0;
}

.cost-form .form-content label::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 3px solid #840c6f;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.cost-form .form-content label .content-name {
  position: absolute;
  bottom: 7px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1.17px;
  font-size: 1.4rem;
  font-weight: 300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.select[value=''] {
  font-size: 0 !important;
}

.successful-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.successful-msg img {
  width: 100px !important;
  height: auto !important;
  margin-bottom: 2rem !important;
}

.successful-msg p {
  max-width: 400px;
  margin: 0 auto;
}
/*# sourceMappingURL=dashboard.css.map */