header {
  width: calc(100%);
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.33);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  .headerLeft {
    display: flex;
    align-items: center;
    column-gap: 10px;

    img {
      cursor: pointer;
    }
  }
  .headerMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    h1 {
      color: #141e55;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
    span {
      color: #141e55;
    }
  }
  .headerRight {
    display: flex;
    align-items: center;
    column-gap: 10px;
    p {
      color: #2c2c2c;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      span {
        font-weight: 300;
      }
      @media only screen and (max-width: 600px) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }
      @media only screen and (max-width: 400px) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
      }
    }
    img {
      border-left: 1px solid #7c7c7c;
      padding-left: 10px;
    }
  }
}
